---
interface Props {
  fondo : string;
}

const {fondo} = Astro.props
---

<section class="contenedor_principal">
  <slot />
</section>

<style>
  section {
    width: 90%;
    color: var(--letras);
    margin: 15vh auto;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: {background};
    border-radius: 40px;
    max-width: 1000px;
  }
</style>
