
---

---

<section class="contenedor_principal">
    <slot />
</section>

<style>

  section {
    width: 80%;
    color: var(--letras);
    margin: 10vh auto ;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--background_prin);
    border-radius: 40px;
    max-width: 1000px;
  }

</style>
