---
interface Foto {
  img: string;
  team: string;
  date: string;
}

interface Props {
  fotos: Foto[];
  effectHover: boolean;
}

const { fotos, effectHover } = Astro.props;
---

<section>
  {
    fotos.map((info) => {
      return (
        <div class="card" id={effectHover ? "effectHover" : ""}>
            <img src={info.img} ></img>
            {
              effectHover ? (<aside>
              <p class="title">{info.team} </p>
              <p class="title">({info.date})</p>
              </aside>) : ""
            }
        </div>
      );
    })
  }
</section>

<style>

section {
    display: grid;
    grid-template-columns: repeat(4, 300px);
    grid-template-rows: repeat(2, 300px);
    gap: 20px;
    margin-top: 30px;
}

  img {
    width: 100%; 
    height: 100%;
    transition: 0.5s;
    color: white;
    object-fit: cover;
  }

  .card {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.5s;
  }

  #effectHover:hover img{
    opacity: 0.2;
  }

  #effectHover:hover{
    background: rgb(36, 62, 122);
  }

  aside{
    display: none;
    transition: all 0.8s;
    color: white;
    font-size: 35px;
    text-align: center;

  }

  .card:hover aside {
    display: block;
    position: absolute;
    z-index: 1;
    cursor: pointer;
  }

  .title{
    font-family: 'Koulen', sans-serif;
    margin: 0;
  }

  @media screen and (max-width: 1300px) {
    section{
      grid-template-columns: repeat(3, 300px);
      grid-template-rows: repeat(3, 300px);
      align-content: center;
    }
  }


  @media screen and (max-width: 960px) {
    section{
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: repeat(4, 1fr);
    }
  }

  @media screen and (max-width: 650px) {
    section{
      grid-template-columns: repeat(1, 1fr);
      grid-template-rows: repeat(8, 1fr);
      margin-top: 10px;
    }
  }

</style>
