---
import Footer from "../componets/footer.astro";
import Header from "../componets/header.astro";

interface Props {
  name: string;
  seccion: number;
}

const { name, seccion } = Astro.props;
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />

    <!-- Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Inter:wght@300&family=Koulen&family=Krona+One&display=swap"
      rel="stylesheet"
    />

    <!-- Swiper -->
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/swiper@10/swiper-bundle.min.css"
    />

    <title>{name}</title>
  </head>
  <body>
    <div class="header_principal">
      <Header seleccion={seccion} />
    </div>
    <main>
      <slot />
    </main>
  <Footer></Footer>
  </body>
</html>

<script
  src="https://cdn.jsdelivr.net/npm/swiper@10/swiper-element-bundle.min.js"
></script>
<script src="/src/JS/header.js"></script>

<style is:global>
  :root {
    /* COLORS LETTERS */
    --yellow: #fff700;

    /* BACKGROUND COLOR */
    --background_prin: #24437a;
    --background_hv: #1977ac;
  }

  * {
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
  }

  body,
  html {
    width: 100%;
    height: 100%;
  }

  main {
    background-color: #ffffff;
    margin-bottom: 10vh;
  }

  .general {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 50px 80px 0 80px;
  }

  .contenedor_principal {
    height: 100px;
    width: 100vh;
  }

  .header_principal {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #24437a;
    height: 150px;
    width: 100%;
    padding: 50px;
  }
</style>
