<aside class="torneos">
  <img src="/Proyecto/svg/Torneos.svg" />
  <section>
    <p id="con_torneos"></p>
    <p>Torneos</p>
  </section>
</aside>

<aside class="trofeos">
  <img src="/Proyecto/svg/Trofeos.svg" />
  <section>
    <p id="con_trofeos"></p>
    <p>Trofeos</p>
  </section>
</aside>

<aside class="cursos">
  <img src="/Proyecto/svg/Cursos.svg" />
  <section>
    <p id="con_cursos"></p>
    <p>Cursos</p>
  </section>
</aside>

<aside class="equipos">
  <img src="/Proyecto/svg/Equipos.svg" />
  <section>
    <p id="con_equipos"></p>
    <p>Equipos</p>
  </section>
</aside>

<script src="../JS/conter.js"></script>

<style>
  aside {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
  }

  aside img {
    width: 120px;
  }

  p {
    font-family: "Krona one", sans-serif;
    color: #24437a;
    font-size: 25px;
    margin: 0 15px;
  }

  section p:first-child {
    font-size: 90px;
    font-family: "Koulen", sans-serif;
    line-height: 1;
  }

  @media screen and (max-width: 1280px) {
    aside img {
      width: 90px;
    }
    section p:first-child {
      font-size: 70px;
    }
  }

  @media screen and (max-width: 550px) {
    aside img {
      width: 60px;
    }
    section p:first-child {
      font-size: 25px;
    }
    aside{
      height: auto;

    }
  }
</style>
