---

---

<footer>
  <section class="creators">
    <p class="desined">designed by <span>renchi melendez</span></p>
    <p class="guion">|</p>
    <p class="developed">developed by <span>francisco melendez JR</span></p>
  </section>
</footer>

<style>
  footer {
    font-family: "Koulen", sans-serif;
    background-color: #24437a;
    color: var(--letras);
    width: 100%;
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    font-size: 30px;
    padding: 40px;
  }

  section {
    display: flex;
    align-items: center;
    text-align: center;
  }

  .creators {
    font-size: 20px;
  }

  .creators p {
    margin: 0 5px;
    color: yellow;
  }

  .creators span {
    color: rgb(255, 255, 255);
  }

  .socials {
    align-items: center;
    justify-content: end;
  }

  .socials div {
    margin: 0 20px;
  }

  @media screen and (max-width: 620px) {
    footer {
      padding: 20px 10px;
    }
    .creators {
      font-size: 15px;
    }
  }

  @media screen and (max-width: 430px) {
    .creators {
      font-size: 10px;
    }
  }
</style>
