<section>
  <div class="container">
    <div class="carousel">
      <div class="a">
        <div class="item">
          <img
            src="../../../public/Proyecto/svg/Diploma Título Curso Profesional Elegante Blanco 1.png"
          />
        </div>
      </div>
      <div class="b">
        <div class="item">
          <img
            src="../../../public/Proyecto/svg/Diploma Título Curso Profesional Elegante Blanco 1.png"
          />
        </div>
      </div>
      <div class="c">
        <div class="item">
          <img
            src="../../../public/Proyecto/svg/Diploma Título Curso Profesional Elegante Blanco 1.png"
          />
        </div>
      </div>
      <div class="d">
        <div class="item">
          <img
            src="../../../public/Proyecto/svg/Diploma Título Curso Profesional Elegante Blanco 1.png"
          />
        </div>
      </div>
      <div class="e">
        <div class="item">
          <img
            src="../../../public/Proyecto/svg/Diploma Título Curso Profesional Elegante Blanco 1.png"
          />
        </div>
      </div>
      <div class="f">
        <div class="item">
          <img
            src="../../../public/Proyecto/svg/Diploma Título Curso Profesional Elegante Blanco 1.png"
          />
        </div>
      </div>
    </div>
  </div>
  <div class="next">
    <img src="../../../public/Proyecto/svg/Right.png" />
  </div>
  <div class="prev">
    <img src="../../../public/Proyecto/svg/Left.png" />
  </div>
</section>

<script src="../../JS/carusel_cursos.js"></script>

<style>
  section {
    display: flex;
    align-items: center;
  }

  .container {
    margin: 0 auto;
    width: 250px;
    height: 200px;
    position: relative;
    perspective: 1000px;
  }

  .carousel {
    height: 100%;
    width: 100%;
    transform-style: preserve-3d;
    transition: transform 1s;
  }
  .carousel div {
    transform-style: preserve-3d;
  }

  img {
    width: 100%;
    height: 100%;
  }

  .item {
    display: block;
    position: absolute;
    width: 250px;
    height: 200px;
    line-height: 200px;
    text-align: center;
    border-radius: 10px;
    transition: transform 1s;
  }

  .a {
    transform: rotateY(0deg) translateZ(250px);
  }
  .b {
    transform: rotateY(60deg) translateZ(250px) rotateY(-60deg);
  }
  .c {
    transform: rotateY(120deg) translateZ(250px) rotateY(-120deg);
  }
  .d {
    transform: rotateY(180deg) translateZ(250px) rotateY(-180deg);
  }
  .e {
    transform: rotateY(240deg) translateZ(250px) rotateY(-240deg);
  }
  .f {
    transform: rotateY(300deg) translateZ(250px) rotateY(-300deg);
  }

  .next,
  .prev {
    position: absolute;
    cursor: pointer;
    transition:
      box-shadow 0.1s,
      top 0.1s;
  }
  .next:hover,
  .prev:hover {
    color: #000;
  }
  .next {
    right: 20%;
  }
  .prev {
    left: 20%;
  }

  @media screen and (max-width: 960px) {
    
  }
</style>
