<aside class="torneos">
  <img src="../../public/Proyecto/svg/Torneos.svg" />
  <section>
    <p id="con_torneos"></p>
    <p>Torneos</p>
  </section>
</aside>

<aside class="trofeos">
  <img src="../../public/Proyecto/svg/Trofeos.svg" />
  <section>
    <p id="con_trofeos"></p>
    <p>Trofeos</p>
  </section>
</aside>

<aside class="cursos">
  <img src="../../public/Proyecto/svg/Cursos.svg" />
  <section>
    <p id="con_cursos"></p>
    <p>Cursos</p>
  </section>
</aside>

<aside class="equipos">
  <img src="../../public/Proyecto/svg/Equipos.svg" />
  <section>
    <p id="con_equipos"></p>
    <p>Equipos</p>
  </section>
</aside>

<script src="../JS/conter.js"></script>

<style>
  aside {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
  }



  p {
    font-family: "Krona one", sans-serif;
    color: #24437a;
    font-size: 25px;
    margin: 0 15px;
  }

  #con_equipos, #con_cursos, #con_torneos, #con_trofeos{
    font-size: 90px;
    font-family: "Koulen", sans-serif;
    line-height: 1;
  }
</style>
