---

---

<footer>
  <section class="creators">
    <p>designed by <span>renchi melendez</span></p>
    <p>|</p>
    <p>developed by <span>francisco melendez JR</span></p>
  </section>
  <section class="socials">
    <div class="group relative">
      <a class="custom-button" href="">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          stroke-linejoin="round"
          stroke-linecap="round"
          stroke-width="2"
          stroke="white"
          fill="none"
          viewBox="0 0 24 24"
          class="w-8 hover:scale-125 duration-200 hover:stroke-yellow-500"
        >
          <path
            d="M9 19c-5 1.5-5-2.5-7-3m14 6v-3.87a3.37 3.37 0 0 0-.94-2.61c3.14-.35 6.44-1.54 6.44-7A5.44 5.44 0 0 0 20 4.77 5.07 5.07 0 0 0 19.91 1S18.73.65 16 2.48a13.38 13.38 0 0 0-7 0C6.27.65 5.09 1 5.09 1A5.07 5.07 0 0 0 5 4.77a5.44 5.44 0 0 0-1.5 3.78c0 5.42 3.3 6.61 6.44 7A3.37 3.37 0 0 0 9 18.13V22"
          ></path>
        </svg>
      </a>
      <span
        class="absolute -top-15 left-[50%] -translate-x-[50%] z-20 origin-left scale-0 px-3 rounded-lg border border-gray-300 bg-white py-2 text-sm font-bold shadow-md transition-all duration-300 ease-in-out group-hover:scale-100"
        >Repositorio</span
      >
    </div>
  </section>
</footer>

<style>
  footer {
    font-family: "Koulen", sans-serif;
    background-color: #24437a;
    color: var(--letras);
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    font-size: 30px;
    padding: 40px;
  }

  section {
    display: flex;
    align-items: center;
    width: 50%;
    text-align: center;
  }

  .creators {
    font-size: 20px;
  }

  .creators p {
    margin: 0 5px;
    color: yellow;
  }

  .creators span {
    color: rgb(255, 255, 255);
  }

  .socials {
    align-items: center;
    justify-content: end;
  }

  .socials div {
    margin: 0 20px;
  }
</style>
