---
interface Props {
  seleccion: number;
}

const { seleccion } = Astro.props;
---

<header>
  <img src="/Proyecto/Logo.png" alt="Logo" />
  <div>
    <a id="hambuerguesa" class="icon_hambuerguesa">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        width="40"
        height="40"
        viewBox="0 0 24 24"
        style="fill: rgb(255, 255, 255);transform: ;msFilter:;"
        ><path d="M4 6h16v2H4zm0 5h16v2H4zm0 5h16v2H4z"></path></svg
      >
    </a>
    <nav class="screen_ph">
      <a href="/"><span class=`${seleccion === 1 ? "borde" : ""}`>Inicio</span></a
      >
      <a href="/Torneos"
        ><span class=`${seleccion === 2 ? "borde" : ""}`>Torneos</span>
      </a>
      <a href="/Academia"
        ><span class=`${seleccion === 3 ? "borde" : ""}`>Academia ALMA</span></a
      >
      <a href="/acerca"
        ><span class=`${seleccion === 4 ? "borde" : ""}`>Acerca de</span></a
      >

      <a id="close">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="40"
          height="40"
          viewBox="0 0 24 24"
          style="fill: rgb(255, 255, 255);transform: ;msFilter:;"
          ><path
            d="m16.192 6.344-4.243 4.242-4.242-4.242-1.414 1.414L10.535 12l-4.242 4.242 1.414 1.414 4.242-4.242 4.243 4.242 1.414-1.414L13.364 12l4.242-4.242z"
          ></path></svg
        ></a
      >
    </nav>
  </div>
</header>

<style>
  header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
  }

  div {
    width: auto;
  }

  nav {
    display: flex;
    align-items: center;
    justify-content: space-around;
  }

  a {
    color: #fff;
    font-family: "Koulen";
    font-size: 25px;
    font-weight: 400;
    transition: 0.5s ease-out;
  }

  nav a:hover {
    color: yellow;
  }

  #close :hover {
    background-color: red;
  }

  .icon_hambuerguesa,
  #close {
    transition: all 1s;
    display: none;
  }

  nav a {
    padding: 10px 20px;
  }

  .borde {
    border-bottom: solid yellow;
  }

  @media screen and (max-width: 740px) {
    .screen_ph {
      display: none;
    }

    .screen_ph.visible {
      position: fixed;
      right: 0;
      top: 0;
      bottom: 0;
      left: 0;
      margin: auto;
      height: 100vh;
      display: none;
      visibility: visible;
      opacity: 1;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      background-color: #24437a;
    }

    #close {
      display: block;
    }

    .icon_hambuerguesa {
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: space-around;
    }
  }
</style>
