---
interface Props {
  titulo: string;
}

const { titulo } = Astro.props;
---

<p>{titulo}</p>

<style>
  p {
    font-family: "Koulen", sans-serif;
    font-size: 45px;
    color: #24437a;
    border-bottom: 10px solid yellow;
    margin-bottom: 40px;
  }

  @media screen and (max-width: 470px) {
    p{
      font-size: 30px;
    }
  }
</style>
