---
import { ViewTransitions } from "astro:transitions";

//Componentes
import Header from "../components/header.astro";
import Title from "../components/title.astro";
import Footer from "../components/footer.astro";

//Caruseles
import Carusel_pics from "../components/carruseles/crs_pics.astro";
import Carususel_cursos from "../components/carruseles/crs_cursos.astro";

//JSON
import prinJSON from "../JSON/principal.json";
import CounterSkills from "../components/counter_skills.astro";
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Inter:wght@300&family=Koulen&family=Krona+One&display=swap"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css"
    />
    <ViewTransitions />

    <link rel="icon" type="image/svg+xml" href="/Proyecto/Logo.ico" />

    <title>Home</title>
  </head>
  <body>
    <main>
      <div class="contenedor_principal_menu">
        <Header seleccion={1} astro:page-load />
        <aside class="contenedor_menu">
          <section>
            <h1 class="title">Francisco Melendez</h1>
            <h2 class="descripcion">Entrenador de futbol</h2>
            <a
              class="cv"
              href="https://drive.google.com/file/d/1WKUMR-cxLW8BCqi34t6jKfy_9_ddjMKi/view?usp=sharing"
              >Descargar CV</a
            >
          </section>
          <img src="/Proyecto/Profile Pic.png" alt="Foto de ejemplo" />
        </aside>
      </div>
      <div class="contenedor_historial">
        <CounterSkills />
      </div>

      <div class="contenedor_sobre_mi">
        <Title titulo="sobre mi" />
        <p class="descripcion">
          Francisco de Jesús Meléndez Perdomo, mejor conocido como “Chico” es
          promotor deportivo que forma parte de la “Academia ALMA” de futbol
          ubicada en Managua, Luis Alfonso. Su papel en el futbol nicaraguense
          ha sido promover grandes talentos jovenes al futbol de primera
          división, juvenil e incluso a nivel de selección nacional.
        </p>
        <section class="section_carusel">
          <Carusel_pics fotos={prinJSON.pictures} effectHover={true} />
        </section>
      </div>

      <div>
        <Title titulo="Cursos" />
        <Carususel_cursos />
      </div>
    </main>
    <Footer />
    <script
      src="https://cdn.jsdelivr.net/npm/swiper@10/swiper-element-bundle.min.js"
    ></script>

    <style>
      * {
        padding: 0%;
        margin: 0%;
        box-sizing: border-box;
      }

      body,
      html {
        width: 100%;
        height: 100%;
      }

      main {
        display: flex;
        align-items: center;
        flex-direction: column;
        background-color: #fff;
        margin-bottom: 50px;
      }

      div {
        height: 100%;
        width: 100%;
        padding: 30px 50px 0 50px;
        display: flex;
        align-items: center;
        flex-direction: column;
      }

      /* Seccion Menu Principal */

      .contenedor_principal_menu {
        height: 100vh;
        background: url("../../public/Proyecto/Background.png");
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
      }

      .contenedor_menu {
        display: flex;
        justify-content: center;
        align-items: flex-end;
        text-transform: uppercase;
        font-family: "Krona one", sans-serif;
        color: white;
        height: 100%;
        width: 100%;
      }

      .contenedor_menu section {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-self: center;
        width: 100%;
      }

      .contenedor_menu img {
        height: 100%;
      }

      .contenedor_menu .title {
        font-size: 75px;
        font-family: "Koulen", sans-serif;
        margin: auto;
        line-height: 0.9;
      }

      .contenedor_menu .descripcion {
        font-size: 30px;
        line-height: 1;
      }

      .cv {
        text-decoration: none;
        padding: 15px 30px;
        background-color: #fff730;
        width: fit-content;
        color: #24437a;
        border-radius: 40px;
        font-size: 20px;
        font-weight: 900;
        font-family: "Krona one", sans-serif;
      }

      .contenedor_menu section h1,
      .contenedor_menu section h2 {
        margin: 10px 0;
      }

      .cv {
        margin: 30px 0;
      }

      .contenedor_sobre_mi .descripcion {
        text-align: center;
        font-size: 25px;
        color: #24437a;
        font-family: "Inter", sans-serif;
      }

      /* Seccion de cv */
      .contenedor_historial {
        align-items: center;
        justify-content: space-between;
        flex-direction: row;
        justify-items: start;
      }

      /* Seccion de habilidades */
      .aside_skills {
        display: flex;
        justify-content: space-around;
        align-items: center;
        flex-wrap: wrap;
        width: 100%;
      }

      .aside_skills section {
        width: 300px;
        height: 300px;
        text-align: center;
        flex-direction: column;
        display: flex;
        align-items: center;
      }

      .aside_skills picture {
        width: 200px;
        height: 200px;
        padding: 20px;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 50%;
        background-color: #24437a;
        transition: all 0.5s;
      }

      .aside_skills picture:hover {
        background-color: #3b83ff;
        cursor: pointer;
      }

      .aside_skills p {
        font-family: "Krona one", sans-serif;
        font-size: 20px;
        color: #24437a;
        margin-top: 20px;
      }

      @media screen and (max-width: 1130px) {
        div {
          padding: 30px 30px 0 30px;
        }

        /* Seccion Menu Principal */
        .contenedor_menu {
          flex-direction: column;
          align-items: center;
        }

        .contenedor_principal_menu {
          height: 100%;
        }

        .contenedor_menu section {
          align-items: center;
          margin: 20px 0;
        }

        .contenedor_menu .title {
          font-size: 70px;
        }

        .contenedor_menu .descripcion {
          font-size: 25px;
        }

        .cv {
          font-size: 20px;
        }

        .contenedor_menu img {
          height: 100%;
        }

        /* Seccion habilidades */

        .aside_skills p {
          font-size: 20px;
        }

        .contenedor_historial {
          display: grid;
          grid-template-columns: repeat(2, auto);
          justify-content: center;
          gap: 15px;
        }
      }

      @media screen and (max-width: 740px) {
        .contenedor_menu .title {
          font-size: 60px;
        }

        .contenedor_menu img {
          height: 100%;
          width: 100%;
        }

        .contenedor_menu .descripcion {
          font-size: 20px;
        }

        .cv {
          font-size: 15px;
        }

        .contenedor_sobre_mi .descripcion {
          font-size: 20px;
        }

        .aside_skills section {
          width: 200px;
          height: 250px;
        }

        .aside_skills picture {
          width: 150px;
          height: 150px;
        }
      }

      @media screen and (max-width: 520px) {
        .contenedor_menu .title {
          font-size: 34px;
        }

        .contenedor_menu .descripcion {
          font-size: 15px;
        }

        .cv {
          font-size: 15px;
        }

        .aside_skills section {
          width: 150px;
          height: 220px;
        }

        .aside_skills picture {
          width: 120px;
          height: 120px;
        }
      }

      @media screen and (max-width: 450px) {
        .contenedor_historial {
          grid-template-columns: repeat(1, auto);
          grid-template-rows: repeat(1, auto);
        }
      }
    </style>
  </body>
</html>
